/* General CSS stuff goes here. */

.jumbotron {
    background-color: lightblue;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    vertical-align: middle;
}

.feature-box {
    padding-bottom: 150px;
}

.portfolio-2{
    padding-bottom: 50px;
    margin-left: 25%;
}

.contact-form {
    margin-left: 25%;
    padding-bottom: 75px;
}

.form-group {
    align-content: center;
}
