/* General CSS stuff goes here. */
body{
    background-color: darkgray;
}

.jumbotron {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    vertical-align: middle;
    background-image: url('../assets/img/Rio verde Auyantepui.jpg');
    background-size: cover; 
    }

.about-me-section{
    padding-bottom: 100px;
}

.portfolio-section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: white;
}

.contact-me{
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer-section{
}

.image-row1{
    margin-left: 21%;
}

.image-row2{
    padding-bottom: 50px;
    margin-left: 21%;
}

.form-group {
    align-content: center;
}

.profile-img{
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}

.skill-icons{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#anonymous{
    font-style: italic;
}

#projects{
    padding-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
}

.social-icons{
    margin-top: 10px;
 }

.fbiconcolor a:hover { 
    color: white;
    text-decoration: none;
    }

.lead-header {
    color: white;
}

.header-one {
    color: white;
}


h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#333333;
	color:#f4f4f4;
    padding-bottom:150px;
    padding-top: 150px;
}

textarea.form-control{
    height:100px;
}