/* General CSS stuff goes here. */
body{
    background-color: darkgray;
}

.jumbotron {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    vertical-align: middle;
    background-image: url('../assets/img/Rio verde Auyantepui.jpg');
    background-size: cover; 
    }

.about-me-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.resume-link{
    color: aqua;
}

.portfolio-section{
    padding-top: 300px;
    padding-bottom: 150px;
    background-color: rgba(233, 179, 62, 0.856);
}

.contact-me{
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer-section{
}

.image-row1{
    margin-left: 21%;
}

.image-row2{
    padding-bottom: 50px;
    margin-left: 21%;
}

.form-group {
    align-content: center;
}

.profile-img{
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}

.skill-icons{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-form{
    margin: auto;
}

#anonymous{
    font-style: italic;
}

#projects{
    padding-top: 155px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
}

.footer-text{
    margin: 0;
}

.social-icons{
    margin-top: 10px;
 }

.fbiconcolor a:hover { 
    color: white;
    text-decoration: none;
    }

.lead-header {
    color: white;
}

.header-one {
    color: white;
}


h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#333333;
	color:#f4f4f4;
    padding-bottom:150px;
    padding-top: 150px;
}

textarea.form-control{
    height:100px;
}

.project-img {
    height: 200px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }